<div class="md:flex md:gap-2 antialiased bg-gray-100">
  <%= render partial: "admin/shared/sidebar" %>
    
  <main class="bg-gray-100 h-screen w-full overflow-y-auto relative">

    <div class="bg-white sticky top-0 shadow p-4 mb-2">
      <%= render partial: "admin/shared/header" %>
    </div>

    <section class="bg-white rounded shadow">
      <header class="p-4 text-lg font-medium border-b">
        <div class="flex flex-col md:flex-row gap-4 justify-between">
          <p>Notifications</p>
        </div>
      </header>
      <section class="py-8">
        <div class="container px-4 mx-auto">
          <%= form_with(model: Notification.new, url: admin_notification_bulk_path(current_admin), method: :post) do |form| %>
            <div>
              <h3 class="mb-2 text-xl font-medium text-gray-900">Send All</h3>
              <p class="mb-5 text-sm text-gray-500">Send notification to all Sellers in bulk</p>
              <%= form.text_field :topic, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 mb-8", placeholder: "Subject", required: true %>
              <%= form.text_area :message, rows: 6, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5", placeholder: "Your message...", required: true %>
              <button type="submit" class="w-full md:w-auto font-medium px-4 py-2 text-base bg-[#B7BAA7] hover:bg-[#9c9e83] text-white border border-gray-200 rounded-full mt-6">Send</button>
            </div>
          <% end %>

          <div class="bg-gray-100 my-8 md:my-16 h-1"></div>


          
          <%= form_with(model: Notification.new, url: admin_notifications_path, method: :post) do |form| %>
            <div>
              <div class="flex flex-col md:flex-row gap-4 justify-between items-start mb-6">
                <div>
                  <h3 class="mb-2 text-xl font-medium text-gray-900">Send to Specific User</h3>
                  <p class="text-sm text-gray-500">Send notification to a specific Seller by Searching their Email</p>
                </div>
                <div class="flex gap-2 w-full md:w-auto">
                  <%= form.text_field :user_email, list: "user_emails", required: true, class: "flex-1 bg-white text-sm focus:outline-none border border-gray-300 rounded-md py-2 px-3 appearance-none leading-normal focus:border-gray-400" %>
                  <datalist id="user_emails">
                    <% User.where(is_creator: true).each do |user| %>
                      <option value="<%= user.email %>">
                    <% end %>
                  </datalist>

                  <button class="font-medium px-4 py-2 text-base bg-[#B7BAA7] hover:bg-[#9c9e83] text-white border border-gray-200 rounded-full">Search By Email</button>
                </div>
              </div>
              <%= form.text_field :topic, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 mb-8", placeholder: "Subject", required: true %>
              <%= form.text_area :message, rows: 6, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5", placeholder: "Your message...", required: true %>
              <button class="w-full md:w-auto font-medium px-4 py-2 text-base bg-[#B7BAA7] hover:bg-[#9c9e83] text-white border border-gray-200 rounded-full mt-6" type="submit">Send</button>
            </div>
          <% end %>
          
        </div>
      </section>
    </section>

  </main>
</div>