<section class="h-screen flex justify-center items-center px-4" style="<%= "background-image: url(#{image_path('photographer.jpg')});" %> background-size: cover; background-repeat: no-repeat; background-position: center;">
  <div class="container mx-auto">
    <h1 class="w-full text-4xl lg:text-7xl text-center md:text-left !leading-tight uppercase text-white mb-4" style="font-family: 'Playfair Display', serif !important;"> Invest</h1>
    <h1 class="w-full text-4xl lg:text-7xl text-center !leading-tight uppercase text-white mb-4" style="font-family: 'Playfair Display', serif !important;"> in</h1>
    <h1 class="w-full text-4xl lg:text-7xl text-center md:text-right !leading-tight uppercase text-white mb-10" style="font-family: 'Playfair Display', serif !important;"> Yourself</h1>
    <div class="w-1/2 mx-auto text-center mt-24">
      <a class="block py-2 px-6 border border-gray-300 hover:border-gray-50 text-white font-semibold leading-loose" href="#">Start Now</a>
    </div>
  </div>
</section>

<section class="relative overflow-hidden">
  <div class="skew skew-top mr-for-radius">
    <svg class="h-8 md:h-12 lg:h-20 w-full text-gray-50" viewbox="0 0 10 10" preserveaspectratio="none">
      <polygon fill="currentColor" points="0 0 10 10 0 10"></polygon>
    </svg>
  </div>
  <div class="skew skew-top ml-for-radius">
    <svg class="h-8 md:h-12 lg:h-20 w-full text-gray-100" viewbox="0 0 10 10" preserveaspectratio="none">
      <polygon fill="currentColor" points="0 10 10 0 10 10"></polygon>
    </svg>
  </div>
  <div class="py-24 bg-gray-100 radius-for-skewed">
    <div class="container px-4 mx-auto relative z-10">
      <div class="mx-auto mb-10 text-center">
        <h1 class="text-2xl md:text-4xl lg:text-5xl !leading-tight uppercase mt-2 mb-6"  style="font-family: 'Playfair Display', serif !important;">
          <span>Elevate your online presence & <br class="hidden md:block"> Book </span> <span class="text-[#DFC9BA]">More</span>
          <span>Clients </span>
        </h1>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mt-20">
        <div class="relative">
          <div class="p-3 border border-gray-400">
            <%= image_tag('laptop.jpg', class: 'h-72 w-full object-cover', loading: 'lazy') %>
          </div>
          <div class="md:h-10 md:w-10 lg:h-12 lg:w-12 h-8 w-8 rounded-full bg-white border border-gray-400 grid place-items-center md:text-2xl absolute top-5 left-5 md:-top-2 md:-left-2">1</div>
          <p class="mt-2 text-center text-gray-900 font-medium uppercase">Create an account</p>
        </div>
        <div class="relative">
          <div class="p-3 border border-gray-400">
            <%= image_tag('mobile.jpg', class: 'h-72 w-full object-cover', loading: 'lazy') %>
          </div>
          <div class="md:h-10 md:w-10 lg:h-12 lg:w-12 h-8 w-8 rounded-full bg-white border border-gray-400 grid place-items-center md:text-2xl absolute top-5 left-5 md:-top-2 md:-left-2">2</div>
          <p class="mt-2 text-center text-gray-900 font-medium uppercase">customize a unique profile and showcase your services</p>
        </div>
        <div class="relative">
          <div class="p-3 border border-gray-400">
            <%= image_tag('ring.jpg', class: 'h-72 w-full object-cover', loading: 'lazy') %>
          </div>
          <div class="md:h-10 md:w-10 lg:h-12 lg:w-12 h-8 w-8 rounded-full bg-white border border-gray-400 grid place-items-center md:text-2xl absolute top-5 left-5 md:-top-2 md:-left-2">3</div>
          <p class="mt-2 text-center text-gray-900 font-medium uppercase">clients are match with your services and profile </p>
        </div>
        <div class="relative">
          <div class="p-3 border border-gray-400">
            <%= image_tag('laptop-2.jpg', class: 'h-72 w-full object-cover', loading: 'lazy') %>
          </div>
          <div class="md:h-10 md:w-10 lg:h-12 lg:w-12 h-8 w-8 rounded-full bg-white border border-gray-400 grid place-items-center md:text-2xl absolute top-5 left-5 md:-top-2 md:-left-2">4</div>
          <p class="mt-2 text-center text-gray-900 font-medium uppercase">intrested clients email you!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pt-24 px-4 container mx-auto mb-8">
  <div class="flex flex-wrap">
    <div class="w-full lg:w-1/2 md:hidden lg:block block">
      <%= image_tag('camera-man.jpg', class: 'block w-[541px] h-[420px] lg:h-[586px] object-cover mr-auto lg:rounded-br-[8rem]', loading: 'lazy') %>
    </div>
    <div class="w-full lg:w-1/2 px-4 mt-16">
      <div class="lg:max-w-xl">
        <h2 class="text-2xl md:text-3xl lg:text-4xl !leading-tight text-center uppercase lg:text-left mb-8" style="font-family: 'Playfair Display', serif !important;"> Does this sound like You?
          <span class="text-[#DFC9BA]"> You are in the right place </span>
        </h2>
      </div>
        <div class="w-11/12 md:w-8/12 lg:w-full space-y-8 text-center lg:text-left m-6 mx-auto">
          <div class="relative">
            <div class="absolute top-0 md:-top-1 z-10 -ml-2 h-8 w-8 md:h-10 md:w-10 rounded-full bg-[#B7BAA7] text-white flex justify-center items-center"> 1 </div>
            <div class="ml-10 md:ml-16">
              <p class="text-lg text-gray-700">Struggling to stand out in a crowded market!</p>
            </div>
          </div>
          <div class="relative">
            <div class="absolute top-0 md:-top-1 z-10 -ml-2 h-8 w-8 md:h-10 md:w-10 rounded-full bg-[#B7BAA7] text-white flex justify-center items-center"> 2 </div>
            <div class="ml-10 md:ml-16">
              <p class="text-lg text-gray-700">Feeling creativity burnt out trying to keep up with tends! </p>
            </div>
          </div>
          <div class="relative">
            <div class="absolute top-0 md:-top-1 z-10 -ml-2 h-8 w-8 md:h-10 md:w-10 rounded-full bg-[#B7BAA7] text-white flex justify-center items-center"> 3 </div>
            <div class="ml-10 md:ml-16">
              <p class="text-lg text-gray-700">Frustated with scattered client communication! </p>
            </div>
          </div>
          <div class="relative">
            <div class="absolute top-0 md:-top-1 z-10 -ml-2 h-8 w-8 md:h-10 md:w-10 rounded-full bg-[#B7BAA7] text-white flex justify-center items-center"> 4 </div>
            <div class="ml-10 md:ml-16">
              <p class="text-lg text-gray-700">Frustrated in clients only asking for your prices.</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>

<section class="px-4 md:px-0">
  <div class="relative border border-gray-700 h-[40rem] bg-cover bg-top" style="<%= 'background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(' + image_path('session.jpg') + ');' %> background-size: cover; background-repeat: no-repeat; background-position: center;">
    <div class="w-9/12 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-gray-100">
      <h1 class="text-2xl md:text-4xl lg:text-5xl text-center !leading-tight uppercase mb-6" style="font-family: 'Playfair Display', serif !important;"> It's time to go from overlooked to fully booked </h1>
      <h1 class="text-xl text-center">With LensFriends, you’ll no longer chase after clients - they’ll come to you. We match potential clients with you based on your unique profile and services, ensuring you’re seen by those who appreciate your style and expertise. Say goodbye to empty schedules and missed opportunities.</h1>          
    </div>
  </div>
</section>

<section class="py-24 bg-gray-50">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <%= image_tag('session-2.jpg', class: 'h-[26rem] w-full object-cover object-center rounded-3xl', loading: 'lazy') %>
      <%= image_tag('session-3.jpg', class: 'h-[26rem] w-full object-cover object-center rounded-3xl', loading: 'lazy') %>
    </div>
    <div class="mt-8 w-10/12 mx-auto">
      <h1 class="text-2xl md:text-4xl lg:text-5xl text-center !leading-tight uppercase mb-6" style="font-family: 'Playfair Display', serif !important;"> Easily connect with new clients. </h1>
      <h1 class="text-xl text-center">LensFriends was designed to connect you with ready-to-book clients by delivering inquires directly to your email <br/>and allowing you more time to focus on your passion. </h1>
    </div>
  </div>
</section>

<section class="py-24 bg-gray-100">
  <div class="container mx-auto px-4 mb-8">
    <div class="py-16 px-8 bg-white border border-gray-100 rounded-3xl">
      <div class="max-w-7xl mx-auto">
        <div class="mx-auto text-center">
          <h2 class="mb-12 text-2xl md:text-4xl lg:text-5xl !leading-tight uppercase" style="font-family: 'Playfair Display', serif !important;">Let's talk about what we can do for you.</h2>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
          <div class="flex flex-col justify-between p-4 md:px-8 md:py-8 h-full text-center">
            <div class="h-20 w-20 rounded-full overflow-hidden bg-gray-300 mx-auto">
              <img class="h-20 w-20 object-cover object-top" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80" alt="">
            </div>
            <div class="flex-initial">
              <h3 class="text-lg text-gray-900 font-semibold">Personalized Profile</h3>
            </div>
            <div class="flex-initial">
              <p class="text-base text-gray-700">Showcasing your unique style and talents to potential clients</p>
            </div>
          </div>
          <div class="flex flex-col justify-between p-4 md:px-8 md:py-8 h-full text-center rounded-3xl">
            <div class="h-20 w-20 rounded-full overflow-hidden bg-gray-300 mx-auto">
              <img class="h-20 w-20 object-cover object-top" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80" alt="">
            </div>
            <div class="flex-initial">
              <h3 class="text-lg text-gray-900 font-semibold">Customizeable Calender</h3>
            </div>
            <div class="flex-initial">
              <p class="text-base text-gray-700">Ensuring you never miss a booking opportunity</p>
            </div>
          </div>
          <div class="flex flex-col justify-between p-4 md:px-8 md:py-8 h-full text-center">
            <div class="h-20 w-20 rounded-full overflow-hidden bg-gray-300 mx-auto">
              <img class="h-20 w-20 object-cover object-top" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80" alt="">
            </div>
            <div class="flex-initial">
              <h3 class="text-lg text-gray-900 font-semibold">We bring clients to you</h3>
            </div>
            <div class="flex-initial">
              <p class="text-base text-gray-700">Making it easy for clients to find and react out to you</p>
            </div>
          </div>
          <div class="flex flex-col justify-between p-4 md:px-8 md:py-8 h-full text-center rounded-3xl">
            <div class="h-20 w-20 rounded-full overflow-hidden bg-gray-300 mx-auto">
              <img class="h-20 w-20 object-contain object-top" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80" alt="">
            </div>
            <div class="flex-initial my-2">
              <h3 class="text-lg text-gray-900 font-semibold">Increase your creativity</h3>
            </div>
            <div class="flex-initial">
              <p class="text-base text-gray-700">Tailor your profile to showcase your brand and vision</p>
            </div>
          </div>
        </div>
        <div class="mx-auto text-center mt-8">
          <a class="inline-block py-2 px-6 border border-gray-300 hover:border-gray-500 font-semibold leading-loose" href="#">Start Now</a>
        </div>
      </div>
    </div>
  </div>
  <div class="skew skew-top ml-for-radius">
    <svg class="h-8 md:h-12 lg:h-20 w-full text-gray-50" viewBox="0 0 10 10" preserveAspectRatio="none">
      <polygon fill="currentColor" points="0 10 10 0 10 10"></polygon>
    </svg>
  </div>
</section>

<section class="px-4 container mx-auto mb-8">
  <div class="flex flex-wrap items-center">
    <div class="w-full md:w-1/2 px-4 order-last md:order-first">
      <div class="lg:max-w-xl">
        <h2 class="text-2xl md:text-4xl lg:text-5xl !leading-tight text-center uppercase lg:text-left" style="font-family: 'Playfair Display', serif !important;"> Display your talent with a
          <span class="text-[#DFC9BA]"> Customizabale profile </span>
          on LensFriends
        </h2>
      </div>
    </div>
    <div class="w-full md:w-1/2 order-first md:order-last mb-8 mt-4">
      <video class="h-[26rem] w-full object-cover object-center rounded-3xl" autoplay muted loop playsinline>
          <source src="<%= video_path('profile.mp4') %>" type="video/mp4">
          Your browser does not support the video tag.
      </video>

    </div>
  </div>
</section>

<section class="pb-24 px-4 container mx-auto">
  <div class="flex flex-wrap">
    <div class="w-full lg:w-1/2 md:hidden lg:block block mt-20">
      <video class="h-[26rem] w-full object-cover object-center rounded-3xl" autoplay muted loop playsinline>
          <source src="<%= video_path('calender.mp4') %>" type="video/mp4">
          Your browser does not support the video tag.
      </video>
    </div>
    <div class="w-full lg:w-1/2 px-12 mt-16">
      <div class="lg:max-w-xl">
        <h2 class="text-2xl md:text-4xl lg:text-5xl !leading-tight text-center uppercase lg:text-left mb-8" style="font-family: 'Playfair Display', serif !important;"> Let clients know your availablity with our
          <span class="text-[#DFC9BA]"> calendar feature </span>
        </h2>
      </div>
        <div class="w-11/12 md:w-8/12 lg:w-full space-y-8 text-center lg:text-left m-6 mx-auto">
          <div class="relative">
            <div class="absolute top-0 md:-top-1 z-10 -ml-2 h-8 w-8 md:h-10 md:w-10 rounded-full bg-[#B7BAA7] text-white flex justify-center items-center"> 1 </div>
            <div class="ml-10 md:ml-16">
              <p class="text-lg text-gray-700">With our client feature, managing your availablity has never been easier. Display your unavailable days to allow clients to shedule sessions based on your availablity</p>
            </div>
          </div>
          <div class="relative">
            <div class="absolute top-0 md:-top-1 z-10 -ml-2 h-8 w-8 md:h-10 md:w-10 rounded-full bg-[#B7BAA7] text-white flex justify-center items-center"> 2 </div>
            <div class="ml-10 md:ml-16">
              <p class="text-lg text-gray-700">This calendar feature keeps you organized and maximizes your bookings, all while ensuring a seamless experience for both your and your clients </p>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>

<section class="pb-24 bg-gray-100">
  <div class="container px-4 mx-auto">
    <h2 class="mb-12 text-2xl md:text-4xl lg:text-5xl !leading-tight text-center uppercase pt-10" style="font-family: 'Playfair Display', serif !important;">Subscription Packages</h2>
    <div class="">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <div class="">
          <div class="flex flex-col px-9 pt-8 pb-9 h-full bg-white bg-opacity-90 border-blueGray-100 rounded-4xl" style="backdrop-filter: blur(46px);">
            <div>
              <span class="mb-9 inline-block text-sm font-semibold uppercase tracking-px leading-snug">Free</span>
              <h3 class="mb-6 text-4xl text-gray-900 font-bold leading-none">0</h3>
              <p class="mb-9 text-gray-600 leading-relaxed">Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Egestas lacus, blan dit pellentesque.</p>
            </div>
            <button class="py-4 px-9 w-full font-semibold border rounded-xl focus:ring focus:ring-gray-50 bg-white hover:border-gray-900" type="button">Get Started Now</button>
          </div>
        </div>
        <div class="">
          <div class="relative flex flex-col px-9 pt-8 pb-9 h-full bg-white bg-opacity-90 border-blueGray-100 rounded-4xl shadow-9xl" style="backdrop-filter: blur(46px);">
            <img class="absolute -top-5 md:-top-11 right-0 md:-right-4 lg:right-8" src="../../assets/popular.png" alt="">
            <img class="absolute bottom-0 left-1/2 transform -translate-x-1/2" src="flaro-assets/images/pricing/gradient3.svg" alt="">
            <div class="relative z-10">
              <span class="mb-9 inline-block text-sm font-semibold uppercase tracking-px leading-snug">Annual</span>
              <h3 class="mb-6 text-4xl text-gray-900 font-bold leading-none">$385/yr</h3>
              <p class="mb-9 text-gray-600 leading-relaxed">Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Egestas lacus, blan dit pellentesque.</p>
              <button class="py-4 px-10 w-full border hover:border-gray-900 font-semibold rounded-xl focus:ring focus:ring-indigo-300" type="button">Get Started Now</button>
            </div>
          </div>
        </div>
        <div class="">
          <div class="flex flex-col px-9 pt-8 pb-9 h-full bg-white bg-opacity-90 border-blueGray-100 rounded-4xl" style="backdrop-filter: blur(46px);">
            <div>
              <span class="mb-9 inline-block text-sm font-semibold uppercase tracking-px leading-snug">Monthly</span>
              <h3 class="mb-6 text-4xl text-gray-900 font-bold leading-none">$35/mo</h3>
              <p class="mb-9 text-gray-600 leading-relaxed">Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Egestas lacus, blan dit pellentesque.</p>
            </div>
            <button class="py-4 px-9 w-full font-semibold border hover:border-gray-900 rounded-xl focus:ring focus:ring-gray-50 bg-white" type="button">Get Started Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>  

<section class="container mx-auto flex flex-col items-center py-12 text-center lg:pt-20 lg:pb-24">
  <div class="mx-auto text-center">
    <span class="inline-block mb-2 text-sm font-bold uppercase tracking-widest"></span>
    <h2 class="mb-12 text-2xl md:text-4xl lg:text-5xl !leading-tight uppercase" style="font-family: 'Playfair Display', serif !important;">Discover what our customers say</h2>
  </div>
  <div class="container mx-auto px-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-12">
    <div class="relative flex flex-col items-center rounded-xl bg-uns-beige-100 px-10 pb-8 mt-14 md:mt-0" style="box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);">
      <img class="block w-28 h-28 rounded-full -mt-12 border border-[10px] border-uns-beige-100 mb-3.5 bg-uns-beige-100" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80" alt="">
      <div class="mb-7 flex text-uns-brown-100">
        <span class="svg-control mx-1 w-6">
          <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 23 21" fill="none"> <path d="M11.0245 0.463525C11.1741 0.00286954 11.8259 0.00287006 11.9755 0.463525L14.1942 7.2918C14.2611 7.49781 14.4531 7.63729 14.6697 7.63729H21.8494C22.3337 7.63729 22.5351 8.25709 22.1433 8.5418L16.3348 12.7619C16.1595 12.8892 16.0862 13.1149 16.1531 13.3209L18.3718 20.1492C18.5215 20.6098 17.9942 20.9929 17.6024 20.7082L11.7939 16.4881C11.6186 16.3608 11.3814 16.3608 11.2061 16.4881L5.39763 20.7082C5.00578 20.9929 4.47854 20.6098 4.62821 20.1492L6.84685 13.3209C6.91379 13.1149 6.84046 12.8892 6.66522 12.7619L0.856742 8.5418C0.464885 8.25709 0.666274 7.63729 1.15064 7.63729H8.3303C8.54692 7.63729 8.73889 7.49781 8.80583 7.2918L11.0245 0.463525Z" fill="#D09675"></path></svg>
        </span>
        <span class="svg-control mx-1 w-6">
          <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 23 21" fill="none"> <path d="M11.0245 0.463525C11.1741 0.00286954 11.8259 0.00287006 11.9755 0.463525L14.1942 7.2918C14.2611 7.49781 14.4531 7.63729 14.6697 7.63729H21.8494C22.3337 7.63729 22.5351 8.25709 22.1433 8.5418L16.3348 12.7619C16.1595 12.8892 16.0862 13.1149 16.1531 13.3209L18.3718 20.1492C18.5215 20.6098 17.9942 20.9929 17.6024 20.7082L11.7939 16.4881C11.6186 16.3608 11.3814 16.3608 11.2061 16.4881L5.39763 20.7082C5.00578 20.9929 4.47854 20.6098 4.62821 20.1492L6.84685 13.3209C6.91379 13.1149 6.84046 12.8892 6.66522 12.7619L0.856742 8.5418C0.464885 8.25709 0.666274 7.63729 1.15064 7.63729H8.3303C8.54692 7.63729 8.73889 7.49781 8.80583 7.2918L11.0245 0.463525Z" fill="#D09675"></path> </svg> 
        </span>
        <span class="svg-control mx-1 w-6">
          <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 23 21" fill="none"> <path d="M11.0245 0.463525C11.1741 0.00286954 11.8259 0.00287006 11.9755 0.463525L14.1942 7.2918C14.2611 7.49781 14.4531 7.63729 14.6697 7.63729H21.8494C22.3337 7.63729 22.5351 8.25709 22.1433 8.5418L16.3348 12.7619C16.1595 12.8892 16.0862 13.1149 16.1531 13.3209L18.3718 20.1492C18.5215 20.6098 17.9942 20.9929 17.6024 20.7082L11.7939 16.4881C11.6186 16.3608 11.3814 16.3608 11.2061 16.4881L5.39763 20.7082C5.00578 20.9929 4.47854 20.6098 4.62821 20.1492L6.84685 13.3209C6.91379 13.1149 6.84046 12.8892 6.66522 12.7619L0.856742 8.5418C0.464885 8.25709 0.666274 7.63729 1.15064 7.63729H8.3303C8.54692 7.63729 8.73889 7.49781 8.80583 7.2918L11.0245 0.463525Z" fill="#D09675"></path> </svg> 
        </span>
        <span class="svg-control mx-1 w-6">
          <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 23 21" fill="none"> <path d="M11.0245 0.463525C11.1741 0.00286954 11.8259 0.00287006 11.9755 0.463525L14.1942 7.2918C14.2611 7.49781 14.4531 7.63729 14.6697 7.63729H21.8494C22.3337 7.63729 22.5351 8.25709 22.1433 8.5418L16.3348 12.7619C16.1595 12.8892 16.0862 13.1149 16.1531 13.3209L18.3718 20.1492C18.5215 20.6098 17.9942 20.9929 17.6024 20.7082L11.7939 16.4881C11.6186 16.3608 11.3814 16.3608 11.2061 16.4881L5.39763 20.7082C5.00578 20.9929 4.47854 20.6098 4.62821 20.1492L6.84685 13.3209C6.91379 13.1149 6.84046 12.8892 6.66522 12.7619L0.856742 8.5418C0.464885 8.25709 0.666274 7.63729 1.15064 7.63729H8.3303C8.54692 7.63729 8.73889 7.49781 8.80583 7.2918L11.0245 0.463525Z" fill="#D09675"></path> </svg>  
        </span>
        <span class="svg-control mx-1 w-6">
          <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 23 21" fill="none"><path d="M11.0245 0.463525C11.1741 0.00286954 11.8259 0.00287006 11.9755 0.463525L14.1942 7.2918C14.2611 7.49781 14.4531 7.63729 14.6697 7.63729H21.8494C22.3337 7.63729 22.5351 8.25709 22.1433 8.5418L16.3348 12.7619C16.1595 12.8892 16.0862 13.1149 16.1531 13.3209L18.3718 20.1492C18.5215 20.6098 17.9942 20.9929 17.6024 20.7082L11.7939 16.4881C11.6186 16.3608 11.3814 16.3608 11.2061 16.4881L5.39763 20.7082C5.00578 20.9929 4.47854 20.6098 4.62821 20.1492L6.84685 13.3209C6.91379 13.1149 6.84046 12.8892 6.66522 12.7619L0.856742 8.5418C0.464885 8.25709 0.666274 7.63729 1.15064 7.63729H8.3303C8.54692 7.63729 8.73889 7.49781 8.80583 7.2918L11.0245 0.463525Z" fill="#D09675"></path></svg> 
        </span>
      </div>
      <div class="poppins mb-5 text-[20px] !leading-normal"> “A major asset to your business” </div>
      <div class="poppins mb-7">LensFriends has been a game-changer for my business! I've connected with so many new clients who appreciate my work, all thanks to this amazing platform. Definitely worth checking out! </div>
      <div class="poppins mb-2 text-sm uppercase tracking-[0.2em]"> BRITTANY BOOTE </div>
    </div>
    <div class="animate-reveal-scale-up relative flex flex-col items-center rounded-xl bg-uns-beige-100 px-10 pb-8 mt-14 md:mt-0" style="box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);" data-inview="true">
      <img class="block w-28 h-28 rounded-full -mt-12 border border-[10px] border-uns-beige-100 mb-3.5 bg-uns-beige-100" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80" alt="">
      <div class="mb-7 flex text-uns-brown-100">
        <span class="svg-control mx-1 w-6">
          <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 23 21" fill="none"> <path d="M11.0245 0.463525C11.1741 0.00286954 11.8259 0.00287006 11.9755 0.463525L14.1942 7.2918C14.2611 7.49781 14.4531 7.63729 14.6697 7.63729H21.8494C22.3337 7.63729 22.5351 8.25709 22.1433 8.5418L16.3348 12.7619C16.1595 12.8892 16.0862 13.1149 16.1531 13.3209L18.3718 20.1492C18.5215 20.6098 17.9942 20.9929 17.6024 20.7082L11.7939 16.4881C11.6186 16.3608 11.3814 16.3608 11.2061 16.4881L5.39763 20.7082C5.00578 20.9929 4.47854 20.6098 4.62821 20.1492L6.84685 13.3209C6.91379 13.1149 6.84046 12.8892 6.66522 12.7619L0.856742 8.5418C0.464885 8.25709 0.666274 7.63729 1.15064 7.63729H8.3303C8.54692 7.63729 8.73889 7.49781 8.80583 7.2918L11.0245 0.463525Z" fill="#D09675"></path></svg>  
        </span>
        <span class="svg-control mx-1 w-6">
          <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 23 21" fill="none"><path d="M11.0245 0.463525C11.1741 0.00286954 11.8259 0.00287006 11.9755 0.463525L14.1942 7.2918C14.2611 7.49781 14.4531 7.63729 14.6697 7.63729H21.8494C22.3337 7.63729 22.5351 8.25709 22.1433 8.5418L16.3348 12.7619C16.1595 12.8892 16.0862 13.1149 16.1531 13.3209L18.3718 20.1492C18.5215 20.6098 17.9942 20.9929 17.6024 20.7082L11.7939 16.4881C11.6186 16.3608 11.3814 16.3608 11.2061 16.4881L5.39763 20.7082C5.00578 20.9929 4.47854 20.6098 4.62821 20.1492L6.84685 13.3209C6.91379 13.1149 6.84046 12.8892 6.66522 12.7619L0.856742 8.5418C0.464885 8.25709 0.666274 7.63729 1.15064 7.63729H8.3303C8.54692 7.63729 8.73889 7.49781 8.80583 7.2918L11.0245 0.463525Z" fill="#D09675"></path></svg>
        </span>
        <span class="svg-control mx-1 w-6">
          <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 23 21" fill="none"><path d="M11.0245 0.463525C11.1741 0.00286954 11.8259 0.00287006 11.9755 0.463525L14.1942 7.2918C14.2611 7.49781 14.4531 7.63729 14.6697 7.63729H21.8494C22.3337 7.63729 22.5351 8.25709 22.1433 8.5418L16.3348 12.7619C16.1595 12.8892 16.0862 13.1149 16.1531 13.3209L18.3718 20.1492C18.5215 20.6098 17.9942 20.9929 17.6024 20.7082L11.7939 16.4881C11.6186 16.3608 11.3814 16.3608 11.2061 16.4881L5.39763 20.7082C5.00578 20.9929 4.47854 20.6098 4.62821 20.1492L6.84685 13.3209C6.91379 13.1149 6.84046 12.8892 6.66522 12.7619L0.856742 8.5418C0.464885 8.25709 0.666274 7.63729 1.15064 7.63729H8.3303C8.54692 7.63729 8.73889 7.49781 8.80583 7.2918L11.0245 0.463525Z" fill="#D09675"></path></svg>

        </span>
        <span class="svg-control mx-1 w-6">
          <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 23 21" fill="none"><path d="M11.0245 0.463525C11.1741 0.00286954 11.8259 0.00287006 11.9755 0.463525L14.1942 7.2918C14.2611 7.49781 14.4531 7.63729 14.6697 7.63729H21.8494C22.3337 7.63729 22.5351 8.25709 22.1433 8.5418L16.3348 12.7619C16.1595 12.8892 16.0862 13.1149 16.1531 13.3209L18.3718 20.1492C18.5215 20.6098 17.9942 20.9929 17.6024 20.7082L11.7939 16.4881C11.6186 16.3608 11.3814 16.3608 11.2061 16.4881L5.39763 20.7082C5.00578 20.9929 4.47854 20.6098 4.62821 20.1492L6.84685 13.3209C6.91379 13.1149 6.84046 12.8892 6.66522 12.7619L0.856742 8.5418C0.464885 8.25709 0.666274 7.63729 1.15064 7.63729H8.3303C8.54692 7.63729 8.73889 7.49781 8.80583 7.2918L11.0245 0.463525Z" fill="#D09675"></path></svg>
        </span>
        <span class="svg-control mx-1 w-6">
          <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 23 21" fill="none"><path d="M11.0245 0.463525C11.1741 0.00286954 11.8259 0.00287006 11.9755 0.463525L14.1942 7.2918C14.2611 7.49781 14.4531 7.63729 14.6697 7.63729H21.8494C22.3337 7.63729 22.5351 8.25709 22.1433 8.5418L16.3348 12.7619C16.1595 12.8892 16.0862 13.1149 16.1531 13.3209L18.3718 20.1492C18.5215 20.6098 17.9942 20.9929 17.6024 20.7082L11.7939 16.4881C11.6186 16.3608 11.3814 16.3608 11.2061 16.4881L5.39763 20.7082C5.00578 20.9929 4.47854 20.6098 4.62821 20.1492L6.84685 13.3209C6.91379 13.1149 6.84046 12.8892 6.66522 12.7619L0.856742 8.5418C0.464885 8.25709 0.666274 7.63729 1.15064 7.63729H8.3303C8.54692 7.63729 8.73889 7.49781 8.80583 7.2918L11.0245 0.463525Z" fill="#D09675"></path></svg>  
        </span>
      </div>

      <div class="poppins mb-5 text-[20px] !leading-normal">
        “I wish I had this when I was starting out!”
      </div>
      <div class="poppins mb-7">
        I've tried other platforms before, but LensFriends stands out. It's user-friendly, and I love that I can customize my profile to showcase my style. Plus, the support team is top-notch!
      </div>
      <div class="poppins mb-2 text-sm uppercase tracking-[0.2em]">
        Dawn charles
      </div>

        <div class="flex items-center text-uns-grey-300">
          <div class="svg-control mr-1 w-[19px]">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 1.75C8.54822 1.75 5.75 4.54822 5.75 8C5.75 11.4518 8.54822 14.25 12 14.25C15.4518 14.25 18.25 11.4518 18.25 8C18.25 4.54822 15.4518 1.75 12 1.75ZM4.25 8C4.25 3.71979 7.71979 0.25 12 0.25C16.2802 0.25 19.75 3.71979 19.75 8C19.75 12.2802 16.2802 15.75 12 15.75C7.71979 15.75 4.25 12.2802 4.25 8Z" fill="white"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M15.6914 13.1365C16.102 13.082 16.479 13.3707 16.5335 13.7813L17.7435 22.9013C17.7814 23.1868 17.6525 23.4688 17.4118 23.6268C17.1711 23.7849 16.8611 23.7913 16.6141 23.6431L12 20.8746L7.38589 23.6431C7.13894 23.7913 6.82895 23.7849 6.58824 23.6268C6.34753 23.4687 6.21863 23.1867 6.25655 22.9012L7.46655 13.7912C7.52108 13.3806 7.89816 13.092 8.30877 13.1465C8.71937 13.201 9.00803 13.5781 8.95349 13.9887L7.94835 21.5563L11.6141 19.3568C11.8517 19.2143 12.1484 19.2143 12.3859 19.3568L16.0519 21.5565L15.0465 13.9786C14.9921 13.568 15.2808 13.191 15.6914 13.1365Z" fill="white"></path></svg>  
          </div>
          <div class="poppins pt-1">Award-Winning Photographer</div>
        </div>
    </div>
    <div class="relative flex flex-col items-center rounded-xl bg-uns-beige-100 px-10 pb-8 mt-14 md:mt-0" style="box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);">
      <img class="block w-28 h-28 rounded-full -mt-12 border border-[10px] border-uns-beige-100 mb-3.5 bg-uns-beige-100" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80" alt="">
      <div class="mb-7 flex text-uns-brown-100">
        <span class="svg-control mx-1 w-6">
          <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 23 21" fill="none"><path d="M11.0245 0.463525C11.1741 0.00286954 11.8259 0.00287006 11.9755 0.463525L14.1942 7.2918C14.2611 7.49781 14.4531 7.63729 14.6697 7.63729H21.8494C22.3337 7.63729 22.5351 8.25709 22.1433 8.5418L16.3348 12.7619C16.1595 12.8892 16.0862 13.1149 16.1531 13.3209L18.3718 20.1492C18.5215 20.6098 17.9942 20.9929 17.6024 20.7082L11.7939 16.4881C11.6186 16.3608 11.3814 16.3608 11.2061 16.4881L5.39763 20.7082C5.00578 20.9929 4.47854 20.6098 4.62821 20.1492L6.84685 13.3209C6.91379 13.1149 6.84046 12.8892 6.66522 12.7619L0.856742 8.5418C0.464885 8.25709 0.666274 7.63729 1.15064 7.63729H8.3303C8.54692 7.63729 8.73889 7.49781 8.80583 7.2918L11.0245 0.463525Z" fill="#D09675"></path></svg>  
        </span>
        <span class="svg-control mx-1 w-6">
          <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 23 21" fill="none"><path d="M11.0245 0.463525C11.1741 0.00286954 11.8259 0.00287006 11.9755 0.463525L14.1942 7.2918C14.2611 7.49781 14.4531 7.63729 14.6697 7.63729H21.8494C22.3337 7.63729 22.5351 8.25709 22.1433 8.5418L16.3348 12.7619C16.1595 12.8892 16.0862 13.1149 16.1531 13.3209L18.3718 20.1492C18.5215 20.6098 17.9942 20.9929 17.6024 20.7082L11.7939 16.4881C11.6186 16.3608 11.3814 16.3608 11.2061 16.4881L5.39763 20.7082C5.00578 20.9929 4.47854 20.6098 4.62821 20.1492L6.84685 13.3209C6.91379 13.1149 6.84046 12.8892 6.66522 12.7619L0.856742 8.5418C0.464885 8.25709 0.666274 7.63729 1.15064 7.63729H8.3303C8.54692 7.63729 8.73889 7.49781 8.80583 7.2918L11.0245 0.463525Z" fill="#D09675"></path></svg>  
        </span>
        <span class="svg-control mx-1 w-6">
          <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 23 21" fill="none"><path d="M11.0245 0.463525C11.1741 0.00286954 11.8259 0.00287006 11.9755 0.463525L14.1942 7.2918C14.2611 7.49781 14.4531 7.63729 14.6697 7.63729H21.8494C22.3337 7.63729 22.5351 8.25709 22.1433 8.5418L16.3348 12.7619C16.1595 12.8892 16.0862 13.1149 16.1531 13.3209L18.3718 20.1492C18.5215 20.6098 17.9942 20.9929 17.6024 20.7082L11.7939 16.4881C11.6186 16.3608 11.3814 16.3608 11.2061 16.4881L5.39763 20.7082C5.00578 20.9929 4.47854 20.6098 4.62821 20.1492L6.84685 13.3209C6.91379 13.1149 6.84046 12.8892 6.66522 12.7619L0.856742 8.5418C0.464885 8.25709 0.666274 7.63729 1.15064 7.63729H8.3303C8.54692 7.63729 8.73889 7.49781 8.80583 7.2918L11.0245 0.463525Z" fill="#D09675"></path></svg>  
        </span>
        <span class="svg-control mx-1 w-6">
          <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 23 21" fill="none"><path d="M11.0245 0.463525C11.1741 0.00286954 11.8259 0.00287006 11.9755 0.463525L14.1942 7.2918C14.2611 7.49781 14.4531 7.63729 14.6697 7.63729H21.8494C22.3337 7.63729 22.5351 8.25709 22.1433 8.5418L16.3348 12.7619C16.1595 12.8892 16.0862 13.1149 16.1531 13.3209L18.3718 20.1492C18.5215 20.6098 17.9942 20.9929 17.6024 20.7082L11.7939 16.4881C11.6186 16.3608 11.3814 16.3608 11.2061 16.4881L5.39763 20.7082C5.00578 20.9929 4.47854 20.6098 4.62821 20.1492L6.84685 13.3209C6.91379 13.1149 6.84046 12.8892 6.66522 12.7619L0.856742 8.5418C0.464885 8.25709 0.666274 7.63729 1.15064 7.63729H8.3303C8.54692 7.63729 8.73889 7.49781 8.80583 7.2918L11.0245 0.463525Z" fill="#D09675"></path></svg>
        </span>
        <span class="svg-control mx-1 w-6">
          <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 23 21" fill="none"><path d="M11.0245 0.463525C11.1741 0.00286954 11.8259 0.00287006 11.9755 0.463525L14.1942 7.2918C14.2611 7.49781 14.4531 7.63729 14.6697 7.63729H21.8494C22.3337 7.63729 22.5351 8.25709 22.1433 8.5418L16.3348 12.7619C16.1595 12.8892 16.0862 13.1149 16.1531 13.3209L18.3718 20.1492C18.5215 20.6098 17.9942 20.9929 17.6024 20.7082L11.7939 16.4881C11.6186 16.3608 11.3814 16.3608 11.2061 16.4881L5.39763 20.7082C5.00578 20.9929 4.47854 20.6098 4.62821 20.1492L6.84685 13.3209C6.91379 13.1149 6.84046 12.8892 6.66522 12.7619L0.856742 8.5418C0.464885 8.25709 0.666274 7.63729 1.15064 7.63729H8.3303C8.54692 7.63729 8.73889 7.49781 8.80583 7.2918L11.0245 0.463525Z" fill="#D09675"></path></svg>  
        </span>
      </div>

      <div class="poppins mb-5 text-[20px] !leading-normal">
        “Feel confident when posing your clients”
      </div>
      <div class="poppins mb-7">
        Finding clients used to be a struggle, but LensFriends has made it so much easier. I love how I can set my availability and preferences, and the matches just roll in. Thanks, LensFriends, for helping me grow my business!
      </div>
      <div class="poppins mb-2 text-sm uppercase tracking-[0.2em]">
        Emily Magars
      </div>

    </div>
  </div>
</section>