<%= form_with(model: @gallery, url: users_gallery_path(@gallery), method: :patch, data: { controller: 'edit-gallery'}) do |form| %>

  <section class="container mx-auto p-4 mt-16 pb-6">
    <div class="mb-4">
      <%= link_to users_gallery_path(@gallery), class:"mb-4" do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 12 12" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M0.5 6C0.5 5.72386 0.723858 5.5 1 5.5H11C11.2761 5.5 11.5 5.72386 11.5 6C11.5 6.27614 11.2761 6.5 11 6.5H1C0.723858 6.5 0.5 6.27614 0.5 6Z"
            fill="black"></path>
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M6.35355 11.3536C6.15829 11.5488 5.84171 11.5488 5.64645 11.3536L0.646448 6.35355C0.451186 6.15829 0.451186 5.84171 0.646448 5.64645L5.64645 0.646448C5.84171 0.451186 6.15829 0.451186 6.35355 0.646448C6.54882 0.84171 6.54882 1.15829 6.35355 1.35355L1.70711 6L6.35355 10.6464C6.54882 10.8417 6.54882 11.1583 6.35355 11.3536Z"
            fill="black"></path>
        </svg>
      <% end %>
    </div>

    <h2 class="text-2xl md:text-3xl mb-6"> <%= @gallery.gallery_type.titleize %> </h2>
    <div class="flex justify-between items-center">
      <p class="text-gray-700"><%= @gallery.images.count %> photos <%= @gallery.videos.count %> videos</p>
      <a class="focus:outline-none focus:shadow-outline border border-gray-300 py-2 px-4 appearance-none leading-normal focus:border-gray-400 rounded-full bg-[#B6B8A5] hover:bg-[#9c9e83] text-white text-center" href="#">Delete Gallery</a>
    </div>


    <div class="mt-8">
      <div class="md:flex gap-2">
        <div class="flex items-center justify-center w-full my-6">
          <div class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-100" data-action="click->edit-gallery#openImage">
            <div class="flex flex-col items-center justify-center text-center pt-5 pb-6">
                <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                </svg>
                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"> <span class="font-semibold">Upload Images </span> <span class="hidden md:inline-block">from your computer </span> </p>
                <p class="text-xs text-gray-500 dark:text-gray-400">PNG, JPG or JPEG (MAX. 800x400px)</p>
            </div>
            <input id="dropzone-file" type="file" class="hidden" />
            <%= form.file_field :images, multiple: true, accept: 'image/*', data: { edit_gallery_target: 'image', action: "change->edit-gallery#previewImages" }, class: "hidden" %>
          </div>
        </div>
        <div class="flex items-center justify-center w-full my-6">
          <div class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-100" data-action="click->edit-gallery#openVideo">
              <div class="flex flex-col items-center justify-center text-center pt-5 pb-6">
                  <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                  </svg>
                  <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Upload Videos </span> <span class="hidden md:inline-block">from your computer </span> </p>
                  <p class="text-xs text-gray-500 dark:text-gray-400">MOV, MP4, MKV or MPEG (MAX. 100Mb/Video)</p>
              </div>
              <input id="dropzone-file" type="file" class="hidden" />
              <%= form.file_field :videos, multiple: true, accept: 'video/*', data: { edit_gallery_target: 'video', action: "change->edit-gallery#previewVideos" }, class: "hidden" %>
          </div>
        </div>
      </div>
    </div>

    <span id="gallery-errors">
      <%= render partial: "shared/errors", locals:{ error_messages: @error_messages }%>
    </span>

    <div class="bg-gray-100 shadow-lg p-4 mt-8">
      <div class="flex gap-2 overflow-x-auto" data-edit-gallery-target="showImages">
        <div class="mx-auto">
          <img class="mx-auto w-32" src="https://user-images.githubusercontent.com/507615/54591670-ac0a0180-4a65-11e9-846c-e55ffce0fe7b.png" alt="no data" />
          <span class="text-small text-gray-500">No images selected</span>
        </div>
      </div>
      <div class="flex justify-between items-center mt-4">
        <input type="submit" value="Upload" class="inline-block focus:outline-none focus:shadow-outline border border-gray-300 py-1 px-4 appearance-none leading-normal focus:border-gray-400 rounded-full bg-[#d6dacc] hover:bg-[#9c9e83] hover:text-white">
      </div>
    </div>

    <div class="bg-gray-100 shadow-lg p-4 mt-8">
      <div class="flex gap-2 overflow-x-auto" data-edit-gallery-target="showVideos">
        <div class="mx-auto">
          <img class="mx-auto w-32" src="https://user-images.githubusercontent.com/507615/54591670-ac0a0180-4a65-11e9-846c-e55ffce0fe7b.png" alt="no data" />
          <span class="text-small text-gray-500">No videos selected</span>
        </div>
      </div>
      <div class="flex justify-between items-center mt-4">
        <input type="submit" value="Upload" class="inline-block focus:outline-none focus:shadow-outline border border-gray-300 py-1 px-4 appearance-none leading-normal focus:border-gray-400 rounded-full bg-[#d6dacc] hover:bg-[#9c9e83] hover:text-white">
      </div>
    </div>



    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-2 mt-8">
      <% if @gallery.images.attached? %>
        <% @gallery.images.each do |image| %>
          <div class="relative group">
            <%= form.hidden_field :images, multiple: true, value: image.signed_id %>
            <%= image_tag( image, class:"h-72 w-full object-cover") %>
            <%= link_to remove_image_users_gallery_path(image), data: { confirm: "Are you sure?", turbo_method: :delete }, class:"md:hidden flex md:group-hover:flex absolute inset-0 bg-[rgba(0,0,0,0.5)] md:group-hover:bg-[rgba(0,0,0,0.5)] text-gray-50 justify-center items-center cursor-pointer" do %>
              <svg class="border-2 h-8 w-8 p-1 md:h-12 md:w-12 md:p-2" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 16 16"><path fill="currentColor" fill-rule="evenodd" d="M10 3h3v1h-1v9l-1 1H4l-1-1V4H2V3h3V2a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1zM9 2H6v1h3zM4 13h7V4H4zm2-8H5v7h1zm1 0h1v7H7zm2 0h1v7H9z" clip-rule="evenodd"/></svg>
            <% end %>
          </div>
        <% end %>
      <% end %>  
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-2 mt-8">
      <% if @gallery.videos.attached? %>
        <% @gallery.videos.each do |video| %>
          <div class="relative group">
            <%= form.hidden_field :videos, multiple: true, value: video.signed_id %>
            <%= video_tag(video, controls: true, class: "h-72 w-full object-cover group-hover:opacity-75") %>
            <%= link_to remove_video_users_gallery_path(video), data: { confirm: "Are you sure?", turbo_method: :delete }, class:"md:hidden flex md:group-hover:flex absolute inset-0 bg-[rgba(0,0,0,0.5)] md:group-hover:bg-[rgba(0,0,0,0.5)] text-gray-50 justify-center items-center cursor-pointer" do %>
              <svg class="border-2 h-8 w-8 p-1 md:h-12 md:w-12 md:p-2" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 16 16"><path fill="currentColor" fill-rule="evenodd" d="M10 3h3v1h-1v9l-1 1H4l-1-1V4H2V3h3V2a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1zM9 2H6v1h3zM4 13h7V4H4zm2-8H5v7h1zm1 0h1v7H7zm2 0h1v7H9z" clip-rule="evenodd"/></svg>
            <% end %>
          </div>
        <% end %>
      <% end %>  
    </div>


  </section>

<% end %>